.pallete-card {
  display: block;
  padding: 20px;
}

.pallete-btn {
  padding: 4px 8px;
  margin: 0 4px;
  border: none;
}

/* padding: 2px 16px 8px 10px
padding 2px 16px 8px
padding: 2px 16px
padding 2px */