.options{
    display:flex;
    flex-direction: column;
}

.quesOption{
    display:flex;
    flex-direction: row;
}

.square-box-green{
    height:30px;
    width:30px;
    background-color: rgb(0, 255, 149);
    margin:10px
}
.square-box-red{
    height:30px;
    width:30px;
    background-color: rgb(4, 25, 16);
    margin:10px
}
.square-box-visited{
    height:30px;
    width:30px;
    background-color: rgb(255, 0, 242);
    margin:10px
}